*{margin: 0; padding: 0; list-style-type: none;}
a{text-decoration: none; display: block;}

body{
    width: 1000px;
    height: 650px;
    color: #333;
    background-color: #fff;
}

.top{
    float: left;
    width: 200px;
    height: 650px;
}
.logo1{
    width: 200px;
    height: 100px;
}

.logo1 a{
    width: 200px;
    height: 40px;
}

.logo1 img{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo2 a{
    width: 200px;
    height: 40px;
}

.logo2 img{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu{
    width: 200px;
    height: 550px;
    background-color: yellowgreen;
    position: relative;
}

.main>li{
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: aqua;
    text-align: center;
}

.sub>li{
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(148, 185, 185);
    text-align: center;
}

.sub{
    width: 200px;
    height: 300px;
    background-color: rgb(148, 185, 185);
    position: absolute;
    left: 180px;
    top: -40px;
    display: none;
}

.main>li:hover>a{
    background-color: rgb(114, 114, 58);
    color: #fff;
}

.sub>li:hover>a{
    background-color: rgb(237, 237, 116);
    color: #fff;
}

.body_right{
    width: 800px;
    height: 650px;
    float: left;
}

.imgslide{
    width: 800px;
    height: 350px;
    background-color: violet;
    overflow: hidden;
}

.imglen{
    width: 2400px;
    height: 350px;
}

.imglen li{
    width: 800px;
    height: 350px;
    float: left;
}

.content{
    width: 800px;
    height: 200px;
}
.notice{
    width: 300px;
    height: 200px;
    float: left;
    background-color: antiquewhite;
}
.gal{
    width: 250px;
    height: 200px;
    float: left;
    background-color: rgb(177, 131, 71);
}
.sc{
    width: 250px;
    height: 200px;
    float: left;
    background-color: rgb(95, 76, 52);
}

.bottom{
    width: 800px;
    height: 100px;
}

.logo2{
    height: 100px;
    width: 200px;
    float: left;
    background-color: aqua;
}
.copy{
    width: 400px;
    height: 100px;
    float: left;
    background-color: beige;
}
.f{
    width: 200px;
    height: 100px;
    float: left;
    background-color: tomato;
}
